.ant-slider-dot{
  background-color: transparent;
  border: none;
}
.ant-slider-handle{
  border: solid 2px #EB614D;
  background-color: #EB614D;
  transition: .08s ease all;
}
.ant-slider-track{
  background-color: #EB614D;
}
.ant-slider:hover .ant-slider-track{
  background-color: #EB614D;
}
.ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open){
  border-color: #EB614D;
}
.ant-slider-handle.ant-tooltip-open{
  border-color: #EB614D;
}