@import "../../styles/partials/flex";
@import "../../styles/partials/vars";

.ant-modal-content{
  background-color: $black2;
  //width: 880px;

}
.privateShowBookingForm{
  .ant-radio-button-wrapper{
    background-color: $black2;
    color: $white;
    border: 1px solid $darkGray;
    border-radius: 2px;
    &:hover{
      border: 1px solid $lightGray;
    }
    &:not(:first-child)::before{
     background-color: transparent;
    }
    &.ant-radio-button-wrapper-disabled{
      background-color: #444648;
      color: $middleGray;
    }
    //border: 1px solid #d9d9d9;
    //margin: 10px 0;
  &.ant-radio-button-wrapper-checked{
    background-color: $lightGray;
    color: $lightBlack;
  }
  }
  .ant-modal-body{

  }
  .ant-form-item-control-input-content{
    @include flex($row,$btwen,$start);
  }
  .ant-radio-group-outline{
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 15px;
    grid-template-rows: repeat(5, 1fr);
    .ant-radio-button-wrapper{
      text-align: center;
      .ant-radio-button-inner{

      }
    }
  }
}