//colors

$brand1: #F5BB4F;
$brand2: #D1434B;
$coral: #EB614D;
//gray
$basicWhite: #fff;
$lightGray: #E9E9E9;
$darkGray: #4f4f4f;
$gray: #828282;
$black: #181818;
$basicGray: #aaa;
$basicBg: #FCFCFC;
$basicDarkGray: #555759;