//colors
$yellow: #F5BB4F;
$red: #D1434B;
$coral: #EB614D;
$green: #3A9E65;
$blue: #415DA5;
$goldGradient: linear-gradient(91.61deg, #B87900 27.97%, #EBBF45 71.4%, #9D7B00 98.63%);

//gray
$black: #181818;
$blackLines: #262323;
$black2: #272727;
$lightBlack: #343434;
$darkGray: #555759;
$darkGray: #555759;
$middleGray: #838383;
$gray: #aaaaaa;
$gray: #aaaaaa;
$lightGray: #DBDBDB;
$lightGray2: #f2f2f2;
$background: #FCFCFC;
$white: #fff;

