@import "../../styles/partials/typography";
@import "../../styles/partials/flex";
.categoriesSlider{
.item{
  @include flex($col,$btwen,$center);
  opacity: .7;
  transition: .3s ease all;
  &:hover{
    opacity: 1;
  }
  h5{
    @extend %h5;
    text-align: center;
    color: #fff;
  }
}}