@import '../../styles/partials/vars';
@import '../../styles/partials/flex';

header{
  position: sticky;
  top: 0;
  //background-color: #fff;
  z-index: 20;
  a{
    color: $brand1;
  }
  .mainMenu{
    @include flex($row,$btwen,$center);
    margin: 0 20px;
    li{
      margin: 0 10px;

    }

  }
  .container{
   padding: 26px 0;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    .side{
      display: flex;
      flex-flow: row;
      align-items: center;
    }
    .search{
      max-width: 140px;
      margin-left: 30px;
      input{
        border: none;
        border-bottom: $gray;
      }
      span.ant-input-group-addon{
        border: none;
        button{
          border: none;
          box-shadow: none;
        }
      }
    }
    .dropDown{
      //color: #828282;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 0 0 0 20px;
      svg{
        margin-right: 15px;
      }
    }
    .icon{
      margin: 0 0 0 10px;
    }
  }
}