@import "../../styles/partials/flex";
@import "../../styles/partials/vars";
.feedBack {
  max-width: 427px;
  .card {
    background-color: #FCFCFC;
    .rateLine {
      width: 100%;
      @include flex($row,$btwen,$center);

    }
  }
}
