@import "../../styles/partials/flex";
@import "../../styles/partials/vars";
.videos{
    max-width: 850px;
    @include flex($col,$btwen,$start);
  .head{
    width: 100%;
    @include flex($row,$btwen,$start);
    margin: 20px 0 15px;
  }
  .cards{
    width: 100%;
    @include flex($row,$btwen,$start);
  }
    .card{
      width: calc(33% - 15px);
      margin: 15px 0 0;
      img{
        max-height: 300px;
      }
      h5{
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
        color:#828282;
      }
      p{
        margin: 10px 0 5px;
      }


    }

}