@import "../../styles/partials/flex";
@import "../../styles/partials/vars";
section.about {
  padding: 24px 0 32px;
  .smallContainer{
    max-width: 780px;
  }
  .line {
    @include flex($row, $start, $center);
    .btnCategory {
      padding: 1px 8px;
      background-color: $lightGray;
      margin-right: 15px;
      border-radius: 6px;
      span {
        color: #828282;
      }
    }
  }
  h2 {
  }
}
